<div class="clerk-instant-search">
    <div class="clerk-instant-search-grid">
        {% if products.length > 0 %}
        <div class="clerk-instant-search-col clerk-col-1">
            <div class="clerk-instant-search-products">
                <div class="clerk-instant-search-title">Products</div>
                {% for item in products %} {% assign currency_symbol %}
                <div class="clerk-instant-search-product clerk-instant-search-key-selectable">
                    <a href="{{item.url}}" class="clerk-instant-search-link">
                        <div class="clerk-instant-search-product-image" style="background-image: url('{{ item.image }}');"></div>
                        <div>
                            <div class="clerk-instant-search-product-brand">{{item.brand}}</div>
                            <div class="clerk-instant-search-product-name">{{ item.name | highlight query }}</div>
                            {% if item.price < item.list_price %}
                            <div class="clerk-instant-search-product-price">{{ currency_symbol }} {{ item.price | money }}</div>
                            <div class="clerk-instant-search-product-list-price">{{ currency_symbol }} {{ item.list_price | money }}</div>
                            {% else %}
                            <div class="clerk-instant-search-product-price">{{ currency_symbol }} {{ item.price | money }}</div>
                            {% endif %}
                        </div>
                    </a>
                </div>
                {% endfor %} {% if hits > products.length %}
                <a class="clerk-instant-search-more-results" href="/module/clerk/search?search_query={{ query}}">See more results</a>
                {% endif %}
            </div>
        </div>
        {% endif %} {% if (suggestions.length + categories.length) > 0 %}
        <div class="clerk-instant-search-col clerk-col-2">
            <div class="clerk-instant-search-suggestions">
                {% if suggestions.length > 1 %}
                <div class="clerk_instant_search_suggestions_wrap">
                    <div class="clerk-instant-search-title">Suggestions</div>
                    {% for suggestion in suggestions %} {% if suggestion != query %}
                    <div class="clerk-instant-search-category clerk-instant-search-key-selectable">
                        <a class="clerk_instant_search_link" href="/module/clerk/search?search_query={{suggestion}}">{{ suggestion | highlight query }}</a>
                    </div>
                    {% endif %} {% endfor %}
                </div>
                {% endif %}
            </div>
            {% if categories.length > 0 %}
            <div class="clerk-instant-search-categories">
                <div class="clerk-instant-search-title">Categories</div>
                {% for category in categories %}
                <div class="clerk-instant-search-category clerk-instant-search-key-selectable">
                    <a href="{{category.url}}">{{ category.name | highlight query }}</a>
                </div>
                {% endfor %}
            </div>
            {% endif %} {% if pages.length > 0 %}
            <div class="clerk-instant-search-pages">
                <div class="clerk-instant-search-title">Pages</div>
                {% for page in pages %}
                <div class="clerk-instant-search-category clerk-instant-search-key-selectable">
                    <a href="{{ page.url }}">
                        <div class="name">{{ page.title | highlight query 'bold' true }}</div>
                    </a>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        {% endif %}
    </div>
</div>

<script>
    // This script ensures that the Instant Search is always placed right under the input field when scrolling and resizing the viewport.
    // If you do not use a sticky header, then this is not necessary.
    // You should also remove .clerk-instant-search-visible { position: fixed !important; } from the the CSS below if this is your use-case.

    if (!clerkFloatingSearchPos) {
        var clerkFloatingSearchPos = true;
        sel = document.querySelector("#{{content.id}}").dataset.instantSearch;
        xVal = document.querySelector(sel).getBoundingClientRect().bottom;
        document.querySelector("#{{content.id}}").style.top = `${xVal}px`;
        document.querySelector("#{{content.id}}").style.position = `fixed`;
        window.addEventListener("resize", function () {
            xVal = document.querySelector(sel).getBoundingClientRect().bottom;
            document.querySelector("#{{content.id}}").style.top = `${xVal}px`;
        });
        window.addEventListener("scroll", function () {
            xVal = document.querySelector(sel).getBoundingClientRect().bottom;
            document.querySelector("#{{content.id}}").style.top = `${xVal}px`;
            document.querySelector("#{{content.id}}").style.position = `fixed`;
        });
    }
</script>
