.clerk-slider-nav {
    cursor: pointer;
    background: rgba(0, 0, 0, 0);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-image: none !important;
}

.clerk-slider-nav-prev:after {
    content: "";
    width: 12px;
    height: 12px;
    border: solid rgba(0, 0, 0, 1);
    border-width: 0 3px 3px 0;
    transform: rotate(135deg);
    margin-left: 3px;
}

.clerk-slider-nav-next:after {
    content: "";
    width: 12px;
    height: 12px;
    border: solid rgba(0, 0, 0, 1);
    border-width: 0 3px 3px 0;
    transform: rotate(-45deg);
    margin-right: 7px;
}

.clerk-slider-nav-prev {
    top: 50% !important;
    left: 0 !important;
    margin-top: -20px;
}

.clerk-slider-nav-next {
    top: 50% !important;
    right: 0 !important;
    margin-top: -20px;
}