<div class="clerk-search-result-wrapper">
	<div class="clerk_display_toggle" onclick="clerk_show_hide()">
		Filter
		<?xml version="1.0" encoding="UTF-8"?>
		<svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="35" height="18">
			<path d="M1,4.75H3.736a3.728,3.728,0,0,0,7.195,0H23a1,1,0,0,0,0-2H10.931a3.728,3.728,0,0,0-7.195,0H1a1,1,0,0,0,0,2ZM7.333,2a1.75,1.75,0,1,1-1.75,1.75A1.752,1.752,0,0,1,7.333,2Z" />
			<path d="M23,11H20.264a3.727,3.727,0,0,0-7.194,0H1a1,1,0,0,0,0,2H13.07a3.727,3.727,0,0,0,7.194,0H23a1,1,0,0,0,0-2Zm-6.333,2.75A1.75,1.75,0,1,1,18.417,12,1.752,1.752,0,0,1,16.667,13.75Z" />
			<path d="M23,19.25H10.931a3.728,3.728,0,0,0-7.195,0H1a1,1,0,0,0,0,2H3.736a3.728,3.728,0,0,0,7.195,0H23a1,1,0,0,0,0-2ZM7.333,22a1.75,1.75,0,1,1,1.75-1.75A1.753,1.753,0,0,1,7.333,22Z" />
		</svg>
	</div>
	<div class="clerk_header_wrapper">
		{% if query.length > 0 %}
		<h1 class="clerk-search-result-title">{{ hits }} resultater for "{{query}}"</h1>
		{% endif %}
	</div>
	<div class="clerk-grid-wrapper">
		{% for item in products %} {% assign currency_symbol = "kr" %}
		<div class="clerk-content">
      <!-- CONTENT GOES HERE -->
    </div>
		{% endfor %}
	</div>
	{% if count > products.length %}
	<div class="clerk-see-more-button-wrapper">
		<button class="button" onclick="Clerk('content', '#{{ content.id }}', 'more', 20);">Se flere resultater</button>
	</div>
	{% endif %}
</div>
<script>
	function clerk_show_hide() {
		var clerk_facets_container = document.querySelector('#clerk-search-filters')

    clerk_facets_container.classList.toggle('clerk_active')
	}
</script>
