<div class="clerk-sidebar">
    <div class="clerk-sidebar-title">{{headline}}</div>
    <div class="clerk-sidebar-grid">
        <div class="clerk-sidebar-col">
            <div class="clerk-sidebar-products">
                {% for item in products %}
                <div class="clerk-sidebar-product">
                    <div class="clerk-sidebar-image-wrapper">
                        <a class="clerk_link" href="{{ item.url }}">
                            <div class="clerk_image_wrapper">
                                <img class="clerk_product_image" loading="lazy" src="{{ item.images }}" />
                            </div>
                        </a>
                    </div>
                    <div class="clerk-sidebar-info-wrapper">
                        <div class="clerk-sidebar-product-name">
                            <a href="{{ item.url }}">{{item.name}}</a>
                        </div>
                        <div class="clerk-sidebar-price-wrapper">
                            {% if item.on_sale == true %}
                            <div class="clerk-sidebar-normal-price">
                                <span class="clerk-price">{{ currency_symbol }} {{ item.list_price | currency_converter | money_eu }}</span>
                            </div>
                            {% endif %}
                            <div class="clerk-sidebar-on_sale-price">
                                <span class="clerk-price">{{ currency_symbol }} {{ item.price | currency_converter | money_eu }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %} {% endfor %}
            </div>
        </div>
    </div>
</div>
