{% if products.length > 8 %}
<div class="clerk-wrapper">
    <div class="clerk-headline-wrapper">
        <h2 class="clerk-headline">{{headline}}</h2>
    </div>
    <div class="clerk-slider-wrapper">
        <div class="clerk-slider">
            <!-- Change this to change the currency symbol -->
            {% for item in products %} {% assign currency_symbol = "€" %}
            <div class="clerk-slider-content">
                <!-- SLIDER CONTENT GOES IN HERE -->
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}