.clerk-search-result-wrapper {
    padding: 0px 0px 0px 0px;
    background-color: #ffffff00;
    border-radius: 0px;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.clerk-see-more-button-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.clerk-see-more-button {
    background: #000;
    color: #fff;
    cursor: pointer;
    padding: 15px;
    border: none;
}

.clerk-see-more-button:hover {
    background: #000;
    color: #fff;
    border: none;
}

.clerk-grid-wrapper {
    width: 100%;
    display: grid !important;
    column-gap: 24px;
    row-gap: 24px;
    position: relative;
    text-decoration: none;
    color: #000;
    justify-content: center;
}

.clerk-grid-wrapper {
    grid-template-columns: repeat(4, minmax(0, 1fr));
}
@media screen and (max-width: 768px) {
    .clerk-grid-wrapper {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}
@media screen and (max-width: 480px) {
    .clerk-grid-wrapper {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}
