:root {
    --clerk-primary-color: #000;
    --clerk-secondary-color: #fff;
    --clerk-font-color: #000;
    --clerk-font-family: inherit;
}

.clerk_instant_search_link {
    color: var(--clerk-font-color);
}
.clerk_instant_search_link:hover {
    color: var(--clerk-font-color);
}

.clerk-instant-search-container a {
    text-decoration: none !important;
}

.clerk-instant-search-col {
    margin: 0px 0px 20px 0px;
}

.clerk-instant-search {
    overflow-y: auto;
    height: auto;
    width: 100%;
    min-width: 320px;
    max-width: 1200px;
    margin: 0.2em auto;
    background-color: #fff;
    border: 1px solid #eee;
    border-top: 0px;
    border-radius: 5px 5px 10px 10px;
    box-shadow: 0 1em 2em 1em rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.clerk-instant-search-no-results {
    padding: 1em;
    font-style: italic;
    text-align: center;
    margin: 0 auto;
    color: var(--clerk-font-color);
}

.clerk-instant-search-alternate-query {
    margin: 0px 0px 5px 0px;
}

.clerk-instant-search-more-results-wrapper{
    display: flex;
    justify-content: center;
}

.clerk-instant-search-more-results {
    padding: 1em;
    margin: 1em auto;
    display: flex;
    justify-content: center;
    max-width: 50%;
    background-color: var(--clerk-primary-color);
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    border: none;
}

.clerk-instant-search-more-results:hover {
    transition: 0.15s;
    color: var(--clerk-secondary-color);
    background-color: #75b1e2;
    border: none;
    text-decoration: underline;
}

.clerk-instant-search-title {
    color: black;
    margin: 0px 0px 5px 0px;
    padding: 0px 0px 10px 0px;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
    border-bottom: 1px dotted #4a545b;
    font-family: inherit;
}

/********************************************************

    Products

********************************************************/

.clerk-instant-search-product {
    display: flex;
    padding: 0.2em;
    margin: 0px 0px 5px 0px;
    color: #242424;
}

.clerk-instant-search-product:hover .clerk-instant-search-product-name {
    color: var(--clerk-font-color);
}

.clerk-instant-search-product:hover .clerk-instant-search-product-button {
    transform: scale(1.05);
}

.clerk-instant-search-link {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.clerk-instant-search-link > * {
    flex: 1 1 auto;
}
.clerk-instant-search-link > *:first-child {
    flex: 0 0 auto;
}

/********************************************************

    Image

********************************************************/

.clerk-instant-search-product-image {
    display: inline-block;
    width: 10em;
    height: 10em;
    margin-right: 1em;
    object-fit: contain;
}

.clerk-instant-search-product-name {
    min-height: 3.5em;
    margin: 0em 0em 0.2em 0em;
    padding: 0px 5px 0px 0px;
    overflow: hidden;
    font-family: inherit;
    color: var(--clerk-font-color);
}

.clerk-instant-search-product-brand {
    font-size: 0.8em;
    color: var(--clerk-font-color);
    font-weight: bold;
    font-family: inherit;
}

.clerk-instant-search-product-list-price {
    display: inline-block;
    margin-right: 0.5em;
    opacity: 0.8;
    font-weight: 700;
    text-decoration: line-through;
    color: var(--clerk-font-color);
    font-family: inherit;
}

.clerk-instant-search-product-price {
    display: inline-block;
    font-weight: 700;
    font-family: inherit;
    color: var(--clerk-font-color);
}

.clerk-instant-search-product-button {
    flex: 0 0 auto;
    margin: 0.2em auto;
    padding: 0.8em 2em;
    border: none;
    border-radius: 0.5em;
    background-color: #fff;
    color: white;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
    font-weight: bold;
    font-size: 0.8em;
    cursor: pointer;
}

.clerk-instant-search-product-button-not-in-stock {
    flex: 0 0 auto;
    margin: 0.2em auto;
    padding: 0.8em 2em;
    border: none;
    border-radius: 0.5em;
    color: var(--clerk-font-color);
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
    font-weight: bold;
    font-size: 0.8em;
    cursor: pointer;
}

/********************************************************

    Suggestions

********************************************************/

.clerk-icon {
    color: lightgray;
    margin-right: 0.5em;
}

.clerk-instant-search-suggestions {
    margin-bottom: 1em;
}

.clerk-instant-search-suggestion {
    padding: 0.1em;
}

/********************************************************

    Categories

********************************************************/
.clerk-instant-search-categories {
    margin-bottom: 1em;
}

.clerk-instant-search-category {
    padding: 8px;
    margin: 5px;
    width: auto;
    display: inline-block;
    border: 1px solid #f3f3f3;
    border-radius: 10px;
    font-weight: normal;
    background: #F1F1F1;
}

.clerk-instant-search-category > a > {
    color: var(--clerk-font-color);
    text-decoration: none;
}

.clerk-highlight {
    /* Using important to overwrite Clerk.js */
    font-weight: 600 !important;
    background-color: transparent !important;
}

/********************************************************

    Pages

********************************************************/
.clerk-instant-search-pages {
    margin-bottom: 1em;
}

.clerk-instant-search-page {
    padding: 0.1em;
}

/********************************************************

    Setting product columns and responsiveness

********************************************************/

.clerk-instant-search-product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

@media screen and (max-width: 480px) {
}

@media screen and (max-width: 767px) {
    .clerk-instant-search-product-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .clerk-instant-search-container {
        left: 0px !important;
        width: 100%;
    }

    .clerk-instant-search {
        height:  85vh;
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
}

@media screen and (min-width: 1200px) {
    .clerk-instant-search-products {
        padding-right: 2em;
    }
    .clerk-instant-search-grid {
        display: flex;
    }

    .clerk-col-1 {
        flex: 2;
    }

    .clerk-col-2 {
        flex: 1;
    }

}